@model int

<div class="text-center">
    <h1 class="text-info pt-4">Congratulations!</h1>
    <p class="pb-3"> Payment made successfully and order will be shipped to you soon.</p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
</div>